*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Lucida Grande";
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    padding: 0 15px;
    margin:0 auto;
}
header{
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    top: 0;
    z-index: 10;
}
.header-left h1{
    width: 124px;
    margin-top: 10px;
    color: aliceblue;
    letter-spacing: 10px;
    font-family: ;
}
.header-left{
    float: left;
}
.header-nav{
    float: left;
    margin-left: 100px;
    margin: 0 auto;
}
.header-nav a{
    line-height: 65px;
    padding: 0 25px;
    color: aliceblue;
    display: block;
    float: left;
    transition: 0.5s;
}
.header-nav a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}